/* General Layout */
body {
  font-family: 'Poppins', sans-serif;
}

#wrap {
  width: 100%;
  margin: 10px auto 0 auto;
}

main {
  width: 100%;
}

@media screen and (min-width: 1800px) {
  #wrap {
    max-width: 1700px;
    margin: 20px auto 0 auto;
  }
}

@media screen and (max-width: 768px) {
  #wrap {
    margin: 20px 10px 0 20px;
  }
}

/* Login & Sign up Page */
.user-form-wrap {
  width: 500px;
  margin: 80px auto 0 auto;
  text-align: center;
}

.user-formgroup {
  margin: 28px 0;
}

.user-formgroup > input {
  margin-bottom: 25px;
}

.user-form-wrap button {
  margin-top: 20px;
}